<!DOCTYPE html>
<html>
    
    <head>
        <script type="text/javascript" src="HomePage.js"></script>  
        <link rel="stylesheet" type="text/css" href="HomePageStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>

        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <a href="#about">About Us</a>
            <a href="#Whatsnew">What's New</a>
            <a href="#contact">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
        
        <img src="MedeasyLogo.png" class="center">
        
        <div>
            <button class="button">Login</button>
            <button class="button">SignUp</button>
        </div>
        
        <br>
        <p class ="tagline" style="page-break-before: always">Effortless Healthcare.</p>




</body>
</html>
